@charset 'utf-8';

@import './include/base';
@import './include/vars';
@import './include/common_vars';
@import './include/icon';

$contSize: 1200px;
// $contSize: auto;  //test용

.body{min-width:$contSize;}
.body{min-width:auto;}
.lay-wrap{width:$contSize;margin:0 auto;box-sizing: border-box;}

*[class*=layicon]{background:url('#{$image}/layout_icons.png') no-repeat;}
.layicon-alert,
.layicon-time,
.layicon-logout{width: 22px;height: 23px;display: inline-block;vertical-align: middle;}

.layicon-alert{background-position: 0 0;animation:shake .5s;}
.layicon-time{background-position: 0 -30px;}
.layicon-logout{background-position: 0 -60px;}


////////////////////////////////////////////////////////////////
// header
////////////////////////////////////////////////////////////////
.site-logo
{
  display: inline-block;margin: 0;padding: 0;
  a{display: block;width: 219px;height: 29px;background: url('#{$image}/logo.png');font-size: 0;color:transparent;}
}

.site-log-bottom
{
  background: url('#{$image}/logo_bottom.png');width: 111px;height: 31px;
}


.lay-hedaer{position: relative;z-index:1100;}

.lay-hedaer-top
{
  height: 88px;border-bottom: 1px solid #e0e0e0;position: relative;z-index:110;background: #fff;

  .lay-wrap{position: relative;}
  .site-logo{position: absolute;left: 0;top: 29px;}
}

.lay-member-summary
{
  position: absolute;right:0;top:13px;

  .summary-col
  {
    float: left;position: relative;
    padding:10px 0;padding-bottom: 20px;
    &.active{z-index:110;}
    &.active .summary-info{display: block;}

    > a
    {
      display: block;text-align: center;padding:0 25px;color: #343434;
      // border: 1px solid #000;
      > span, > strong{display: block;font-weight: normal;}
      > *:last-child{margin-top: 3px;}

    }
    
    &:first-child::before, 
    &::after{content: '';position: absolute;width: 1px;height: 35px;right: 0px;background: #cccccc;top:11px;}
    &:first-child::before{right:auto;left:0px;}

    &.-member > a
    {
       strong{font-size: 18px;height: 23px;line-height: 23px;}
       span{font-size: 14px;}
    }

    &.-member-work > a
    {
      em
      {
        display: inline-block;line-height: 20px;color: #fff;text-align: center;font-size: 14px;
        font-style:normal;
        letter-spacing: -.04em;
      }
    }
    
  }

  
  .summary-info
  {
    display: none;
    position: absolute;width: 235px;min-height:125px;background: #fff;box-sizing: border-box;
    border:1px solid #bcbcbc;padding:15px 15px 10px 15px;border-radius:4px;top:65px;
    left:calc(50% - (234px / 2));

    // 화살표
    &::after, &::before
    {
      position: absolute;top:0;left: calc(50% - 8px);transform:rotate(45deg);
    }

    &::before
    {
      content: '';width:0;height:0;top:-8px;
      position: absolute;

      $boardArrWidth: 8px;
      border-top:$boardArrWidth solid #bcbcbc;
      border-left:$boardArrWidth solid #bcbcbc;
      border-bottom:$boardArrWidth solid transparent;
      border-right:$boardArrWidth solid transparent;
    }
    &::after
    {
      content: '';width:16px;height:16px;top:-7px;
      position: absolute;background:#fff;
    }

    &.-member-info
    {
      .__cont
      {
        font-size: 15px;border-bottom:1px solid #e5e5e5;margin-bottom: 10px;padding-bottom: 10px;box-sizing: border-box;min-height: 63px;
      }
      .__btns{text-align: center;}

      @include listRest('ul');
      li
      {
        margin-top: 5px;
        &:first-child{margin-top: 0;}
      }
    }

    &.-member-work-info
    {
      thead th{height:35px;box-sizing: border-box;}
      tbody th, td{height:62px;box-sizing: border-box;}
      th{font-weight: normal;}
      td{font-size: 18px;text-align: center;}
      td strong{font-size: 26px;font-weight: normal;}
    }

    &.-time-info
    {
      .__header
      {
        font-size: 16px;border-bottom: 1px solid #e5e5e5;height: 25px;line-height: 25px;padding-bottom: 5px;margin-bottom: 10px;
        strong{color: #e5401f;font-weight: bold;}
        button{float: right;}
      }
      .__cont
      {
        font-size: 12px;letter-spacing:-.1em;
        word-spacing:-.05em;
        span{color: #8d8d8d;display: block;margin-top: 5px;}
      }
    }
  }

  .summary-info-btn
  {
    background: #003764;color: #fff;font-size: 14px;height:25px;line-height: 25px;background: #003764;padding:0 12px;
    border:0;
    display: inline-block;
  }
}




////////////////////////////////////////////////////////////////
// GNB
////////////////////////////////////////////////////////////////
$gnb-1depth-height: 70px;
$gnb-bg: #013765;
$gnb-bg-hover: #fff;

.lay-gnb
{
  height:$gnb-1depth-height;position: relative;z-index:100;
}

.lay-gnb-wrap
{
  position: absolute;width:100%;margin: auto;left: 0;top: 0;background: $gnb-bg;
  transition: background .3s;
}

.lay-gnb-content
{
  width:1200px;margin:0 auto;overflow: hidden;

  @include clearBoth('&');
  @include listRest('ul');

  //line
  &::before
  {
    content: '';position: absolute;left: 0;top: $gnb-1depth-height;width: 100%;border-bottom: 1px solid #2a587c;bottom:0;
    background: #f5f7fa;
  }

  //commmon
  a
  {
    display: block;letter-spacing: normal;
    word-break:keep-all;
    // word-spacing: -.15em;
  }

  //1depth
  
  > ul{position: relative;text-align: center;}
  > ul > li
  {
    float: left;width:(100% / 6);
    min-height: $gnb-1depth-height;

    > a
    {
      font-size: 18px;color:#fff;z-index:10;
      height: $gnb-1depth-height;line-height: $gnb-1depth-height;position: relative;background: $gnb-bg;
      transition: background .3s;
      &::after{content: '';position: absolute;bottom:-3px;height:3px;background: #003764;left:50%;right:50%;margin:auto;transition:all .3s;}
    }

    //active
    &.active
    {
      > a::after{left: 0;right: 0;}
    }
    
  }
  
  //2depth
  ul ul
  {
    padding:30px 0;
    margin-top: -400px;
    transition:all .35s cubic-bezier(0, 0, 0.52, 0.99);

    a
    {
      font-size: 15px;color: #6f7071;padding:7px 0;display: inline-block;position: relative;
      &::after{content:'';position: absolute;left:50%;right:50%;bottom:0;background:#6f7071;transition: all .3s;height:1px;}
      &:hover
      {
        color:#000;
        &::after{left:0;right:0;background:#000;}
      }
    }

    li.active a
    {
      color:#000;
      &::after{left:0;right:0;background:#000;}
    }
  }
  
}



////////////////////////////////////////////////////////////////
// GNB OPEN
////////////////////////////////////////////////////////////////

.lay-hedaer.gnb-open
{
  // &::before{content: '';width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,.3);position: fixed;}

  .lay-gnb-content
  {
    &::before{border-bottom-color:#fff;}
    ul ul{margin-top: 0;}
  }

  .lay-gnb-wrap{background: $gnb-bg-hover;}
  //1depth
  .lay-gnb-content > ul > li > a
  {
      background: $gnb-bg-hover;color: #000;
  }
}


////////////////////////////////////////////////////////////////
// footer
////////////////////////////////////////////////////////////////
$footerBorderColor:#d9dadc;
.lay-footer
{
  margin-top: 60px;
  border-top: 1px solid $footerBorderColor;
  // background: #4d515a;
}

.lay-footer-nav
{
  @include clearBoth('.lay-wrap');
  background: #f7f7f7;
  border-bottom: 1px solid $footerBorderColor;
  a
  {
    display: inline-block;height:50px;line-height:50px;float: left;
    font-size: 15px;text-align: center;box-sizing: border-box;border-left: 1px solid $footerBorderColor;
    &:last-child{border-right: 1px solid $footerBorderColor}

    &:nth-child(1){width: 239px;}
    &:nth-child(2){width: 224px;}
    &:nth-child(3){width: 339px;}
    &:nth-child(4){width: 182px;}
    &:nth-child(5){width: 215px;}
  
  
  .icon-outsite{margin-left: 7px;}}

  .lay-wrap
  {
  }
}

.lay-site-info
{
  font-size: 14px;color: #181818;

  .lay-wrap{padding: 25px 0;padding-left: 125px;position: relative;}
  .site-log-bottom{position: absolute;left: 0;}

  .lay-site-info-address
  {
    @include listRest('&');
    line-height:1.57em;
    li{display: inline-block;}
  }

  .lay-site-info-copyright{color: #8d9197;}
  
}

.lay-sitejump
{
  position: absolute;left: 0;top: 0;width: 100%;z-index:2000;
  a
  {
    width:150px;margin:0 auto;height:35px;background: rgb(49, 86, 141);display: block;text-align: center;line-height: 35px;color: #fff;
    margin-top: -35px;
    transition:all .3s;position: absolute;left: 50%;margin-left: -75px;

    &:focus{margin-top: 0;}
  }
}




.container{width:$contSize;margin:0 auto;position: relative;}

.cont-header{position: relative;}

.cont-header-title
{
  h2{font-size: 36px;font-weight: normal;text-align: center;margin: 0;padding: 0;}
  border-bottom:1px solid #b2c2d3;padding:50px 0 40px 0;margin-bottom: 50px;
}

.cont-location
{
  ul
  {
    @include listRest('&');
    &{margin-top: 20px;}
    font-size: 14px;
    float: right;
    
    li
    {
      float: left;margin-left: 12px;padding-right: 12px;position: relative;color: #737373;

      a{color:inherit}
      
      &:first-child{margin-left: 0;}

      &::after
      {
        content: '';width:1px;height:10px;position: absolute;left:-12px;background: #737373;top: 5px;
        transform: rotate(-30deg);
      }

      &:first-child::after{content: none;}
    }
  }
}

.cont-snb
{
  margin-bottom: 30px;font-size:24px;color: #003764;height: 60px;line-height: 60px;
  background: #f0f3f5;border-radius: 30px;display:flex;

  &._flexauto > *
  {
    flex:1 1 auto;
    flex-basis:auto;
  }

  > *
  {
    text-align: center;display: block;transition: all .3s;border-radius: 30px;
    position: relative;
    flex:1 1 auto;
    flex-basis:0px;
    flex-basis:100%;

    

    // flex:1 1 0;
    // flex-basis:0px;
    // flex-basis:100%;
    &.active, &:hover
    {
      background: #125892;color: #fff;font-weight: bold;
      &::after{content: none;}

      & + *::after{content:none;}
    }

    &:first-child::after{content: none;}

    &::after{content: '';width:1px;top: 10px;bottom: 10px;margin:auto;left: 0;position: absolute;background: #c0cdd8;}
  }
}


.lay-gnb nav > ul > li > ul *:not([href='#']){color: red;}
