@charset 'utf-8';
@import 'include/vars';

// #{$image}/main_icons.png

// .lay-footer{margin-top: 0;}
.main-container{margin-bottom: -60px;}

.micon-search, 
.micon-work, 
.micon-search span{background: url('#{$image}/main_icons.png') no-repeat;}

.micon-search,
.micon-work{width: 50px;height: 43px;display: inline-block;vertical-align: middle;margin-top: -5px;}

.micon-search
{
  background-position:0 0;position: relative;
  span
  {
    background-position: -50px 0;width: 23px;height: 32px;position: absolute;left: calc(50% - 11px);top: 0;
    animation:bounce 1.5s infinite;
  }
}

@keyframes bounce{
  0%{transform: translateY(-2px);}
  50%{transform: translateY(3px);}
  100%{transform: translateY(-2px);}
}
.micon-work{background-position:0 -45px}


.main-visual
{
  height: 460px;text-align: center;position: relative;z-index:1000;
  padding-top: 100px;box-sizing: border-box;transition:margin-top .3s;
  background: #102b41;

  .__text
  {
    position: relative;
    > *{display: block;color: #fff;}
    strong
    {
      font-size:50px;
      b{color: #f34b0c;}
    }
    span{font-size:22px;color: #bcd4ef;margin-top: 10px;}
  }
  .__bg{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background:center no-repeat;background-size:cover;opacity:.77}
}


$quickHeight: 58px;
.main-quickbar
{
  @include clearBoth('.lay-wrap');

  background: rgba(0,0,0,.3);
  height:$quickHeight;
  position: absolute;left:0;right:0;margin: auto;bottom:-58px;
  margin-top: -$quickHeight;

  .lay-wrap{margin:0 auto;}

  .main-quickbar-left,
  .main-quickbar-menu{float: left;}

  .main-quickbar-left{width: 360px;}
  .main-quickbar-menu{width:calc(100% - 360px);}
}

//지도검색, 업무현황
.main-quickbar-left
{
  margin-top: -42px;box-shadow:10px 10px 10px rgba(0,0,0,.3);position: relative;
  font-size: 18px;

  .__btn-map
  {
    position: relative;
    &::after
    {
      // content: '';position: absolute;width: 11px;height: 11px;border:2px solid #fff;
      // bottom:27px;left:109px;
      // border-top:0;border-left:0;transform: rotate(45deg);
        content:'';position: absolute;
        transition:all .3s;
        bottom:27px;left:109px;
        width: 16px;height: 9px;transform: rotate(-180deg);
        background:url('#{$image}/arr_16.png');
    }

    &.active
    {
      // &::after{transform: rotate(-135deg);}
      &::after{transform: rotate(0deg);bottom: 19px;}
    }
  }

  .__btn-map,
  .__btn-link
  {
    border: 0;text-align: center;color: #fff;width:50%;float: left;height: 100px;
    background: #013765;
    &._locked{background: #bd3501;}
  }
}


.main-quickbar-menu
{
  background: #010e17;height:$quickHeight;position: relative;
  
  > strong
  {
    float: left;width: 105px;color: #8ba9cf;width: 160px;line-height: $quickHeight;text-align: right;padding-right: 20px;box-sizing: border-box;
    font-family:'arial', sans-serif;font-size: 17px;
  }
  > nav
  {
    width:calc(100% - 190px);
    float: left;
    a
    {
      float: left;position: relative;margin:0 20px;color: #c9c5c6;line-height: $quickHeight;transition:all .3s;font-size: 16px;
      &::after
      {
        content: '';width: 1px;height:20px;background: #343a3a;left:-20px;top:50%;position: absolute;
        margin-top: -10px;
      }

      &::before
      {
        content: '';left:50%;right:50%;height: 1px;background:#fff;position: absolute;bottom:12px;transition:all .3s;margin:auto;
      }

      &:hover, &:focus{
        color: #fff;
        &::before{left: 0;right: 0;}
      }
    }
  }
  
  .quick-more
  {
    position: absolute;right:0;height:58px;width:58px;transition:all .3s;
    &::after,
    &::before{content: '';position: absolute;width: 15px;height:1px;background: #938f91;left: calc(50% - 7px);top: 50%;transition:all .3s;}

    &::after{transform: rotate(90deg);}

    &:hover, &:focus
    {
      transform: rotate(90deg);
      &::after, &::before{background:#fff;}
    }
  }
}

// 지도검색
.map-search
{
  min-height:66px;border-radius:33px;background: #fff;width: 660px;position: absolute;left: 0;z-index:1000;
  box-sizing: border-box;top: 78px;
  left:50%;margin-left: -600px;
  box-shadow:10px 10px 20px rgba(0,0,0,.2);
  overflow: hidden;

  display: none;

  &.open-ani{animation: slidDown .3s;}
  &.close-ani{animation: slidUp .3s;}

  @keyframes slidDown{
    0%{transform: translateY(-10px);opacity:0}
    100%{transform: translateY(0);opacity:1}
  }

  @keyframes slidUp{
    0%{transform: translateY(0);opacity:1}
    100%{transform: translateY(-10px);opacity:0}
  }

  .map-search-frm
  {
    padding:0 15px;
    padding-top: 15px;margin-bottom: 15px;
    @include clearBoth('&');

    
  }
  .__selector,
  .__textbox,
  .__btn-search{float: left;line-height: 37px;font-size: 16px;height:37px;}

  .__selector
  {
    width: 155px;padding-left: 7px;
    label
    {
      margin-right: 5px;
      &:last-child{margin-right: 0;}
    }
  }

  .__textbox
  {
    width:calc(100% - 270px);letter-spacing: -.05em;font-size: 15px;box-sizing: border-box;
    border-bottom:1px solid #b0b0b0;box-sizing: border-box;position: relative;overflow: hidden;
  }

  .__text
  {
    height:36px;border:0;width:100%;outline:none;margin: 0;box-sizing: border-box;padding: 0;
    &:focus{border-color:#013765;}
  }

  .__btn-textdel
  {
    background: none;border:0;padding:0;width: 30px;height: 37px;position: absolute;right: 0;top: 0;
    display: none;
    .icon-close{width: 16px;height: 16px;}
    &:hover
    {
      .icon-close
      {
        &:hover
        {
            &::after{transform: rotate(135deg);}
            &::before{transform: rotate(225deg);}
        }
      }
    }
  }

  .__textbox.-istext
  {
    .__text{padding-right:30px;}
    .__btn-textdel{display: block;}
  }

  .__btn-search
  {
    width: 95px;margin-left: 10px;
    height: 37px;background: #bd3500;display: block;border:0;width: 95px;text-align: center;border-radius:37px;
    color: #fff;line-height: 37px;font-size: 16px;
  }


  .map-search-cont
  {
  }

  .map-search-alert
  {
    background: #f2f5f7;color: #6a829e;padding:20px 25px;
  }
  
  .map-search-result
  {
    height:225px;padding:20px 25px;
    ul{height:100%;overflow-y:auto;}
    @include listRest('ul');
    button
    {
      padding: 0;background: none;display: block;font-size: 16px;text-align: left;
      width: 100%;border: none;padding:3px 0;
    }
  }
}


//////////////////////////////////////////////
////// 지도 
//////////////////////////////////////////////
.main-map
{
  position: relative;
  .map-controller
  {
    position: absolute;right:20px;top:78px;z-index:1000;
    > *
    {
      width: 73px;height: 73px;border:0;display: block;
      margin-top: 10px;
      background:url('#{$image}/map_icons.png')rgba(0,0,0,.4) no-repeat;border-radius: 50%;color: #fff;
      outline:none;-ms-outline:none;transition:all .3s;padding-top: 35px;font-size: 12px;

      strong{font-weight: normal;}
      &:first-child{margin-top: 0;}

      //hover
      &:hover
      {
        background-color:rgba(0,0,0,.9);
      }

      $bgGap : -80px;
      &.mapicon-zoom{background-position:0 0}
      &.mapicon-out{background-position:0 $bgGap;}
      &.mapicon-distance{background-position:0 ($bgGap*2);}
      &.mapicon-area{background-position:0 ($bgGap*3);}
      &.mapicon-reset{background-position:0 ($bgGap*4);}
    }
  }
}


.main-map-cont{background-color:#82a3c9;height:700px;}

.map-maker
{
  position: absolute;width: 22px;height: 30px;z-index:1000;
  img
  {
    animation:bounceInDown .5s both;
  }
}

// .animated { 
//   animation-duration: 1s; 
//   animation-fill-mode: both; 
// } 

@keyframes bounceInDown{
  0% {
    opacity:0;
    transform:  translate(0px,-92px)  ;
  }
  17% {
    opacity:.5;
    transform:  translate(0px,18px)  ;
  }
  36% {
    opacity:1;
    transform:  translate(0px,-60px)  ;
  }
  60% {
    transform:  translate(0px,16px)  ;
  }
  76% {
    transform:  translate(0px,-13px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}



.map-quick-link
{
  position: absolute;background: #fff;box-sizing: border-box;
  border:1px solid #bcbcbc;padding:15px 15px 10px 15px;border-radius:4px;top:65px;
  min-width:180px;left:100%;margin-left: 15px;top:-10px;
  animation: infoopenAni .4s both;
  // left:calc(50% - (234px / 2));

  // 화살표
  &::after, &::before
  {
    position: absolute;top:25px;left: calc(50% - 8px);transform: rotate(-45deg);
  }

  &::before
  {
    content: '';width:0;height:0;left:-8px;
    position: absolute;

    $boardArrWidth: 8px;
    border-top:$boardArrWidth solid #bcbcbc;
    border-left:$boardArrWidth solid #bcbcbc;
    border-bottom:$boardArrWidth solid transparent;
    border-right:$boardArrWidth solid transparent;
  }
  &::after
  {
    content: '';width:16px;height:16px;left:-7px;
    position: absolute;background:#fff;
  }

  @include listRest('ul');

  li a{white-space: nowrap;display: block;padding:3px 0;font-size: 15px;font-weight: bold;}

  .__infomation
  {
    color: #8d8d8d;font-size: 12px;border-top:1px solid #e5e5e5;padding-top: 7px;margin-top: 10px;
    position: relative;padding-left: 13px;
    &::after{content: '※';position: absolute;left: 0;top: 7px;}
  }
  @keyframes infoopenAni {
    0%{opacity: 0;transform: translateX(-10px);}
    100%{opacity: 1;transform: translateX(0px);}
  }
}



.workstatus
{
  padding:150px 0 80px 0;display: none;
}