
.board-searchbox-opts .__tit.v2{
	width: 110px;
	+div{
		width: calc(100% - 110px);
	}
}
input.w140,
select.w140{
	width: 140px !important;
}
input.w150,
select.w150{
	width: 150px !important;
}
input.w160,
select.w160{
	width: 160px !important;
}

.__col-multi .cs-input{width: calc(33% - 10px);font-size: 12px;}
.cs-btn-set{position: relative;
	a.-download{
		position: absolute;
		right: 0;
		top: 0;
	}
}
.frm-insert-t3.v2 > *:nth-child(2){
	width: calc(50% - 70px);
}
.rlf{
	overflow: hidden;
	
	.l,
	.r{
		display: inline-block;
	}
	.l{
		float: left;
		line-height: 40px;
		height: 40px;
	}
	.r{
		float: right;
	}
}

.board-top-button{
	text-align: right;
    height: 0;
    position: relative;
    top: -50px;
}
#js__facility{width: 1000px;}
#js__history{width: 1000px;}

.color_red{color:#ff0000;}
.js__filename.v2{
	    width: calc(100% - 170px);
}
.pos_r{
	position: relative;
}
.notic_txt{
	position: absolute;
	right: 30px;
	top: 0;
	margin: 0;
	color: #bd3500;
}

.headding-select{
	font-size: 16px;
	margin-left: 10px;
}
.dirspan{
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 20px;
	border-radius:3px;
}

.board-searchbox-opts.__half{
	>div{
		width: 50%;
	}
}
.board-searchbox{
	.board-searchbox-opts{
		.__col-search{
			select.cs-input{
				width: 100px;
			}
			input[type="text"].cs-input{
				width: 370px;
			}
		}
	}
}
.cs-datepicker-set{
	.cs-input-date.width230{
		width: 230px;
	}
}


.board-searchbox-opts.col__strange{
	>div{
		&:nth-child(1){
			width: 30%;
		}
		&:nth-child(2){
			width: 40%;
		}
		&:nth-child(3){
			width: 30%;
		}
		.js__datepicker{
			width: 174px;
		}
	}
}
.va-t{
	vertical-align: top;
}
.board-searchbox-opts.col__strange2{
	>div{
		&:nth-child(2){
			width: 30%;
		}
		&:nth-child(1){
			width: 40%;
		}
		&:nth-child(3){
			width: 30%;
		}
		.js__datepicker{
			width: 174px;
		}
	}
}


.js__conttoggle.alink.pl25{
	padding-left: 25px
}
.select__city{
	overflow:hidden;
	margin:0 -5px;

	li{
		float:left;
		width: 20%;
		padding:5px;
		list-style: none;
		box-sizing:border-box;
		span{
			display:block;
			height:40px;
			line-height:40px;
			border: 1px solid #ddd;
			border-radius:3px;
			background: #f8f8f8;
			text-align:center;
		}
	}
}

.treemenu_1{
	display:inline-block;
	padding-left:20px;
	position:relative;
	&:after{
		content:"";
		width: 16px;
		height:16px;
		background:url(../images/icon-full-arrow.png) no-repeat 0 0;
		position: absolute;
		left:0;
		top:4px;
		transform: rotate(90deg);
		transition:all 0.25s;
	}
	&.active{
		&:after{transform: rotate(0deg)}
	}
}
.treemenu_2{
	display:inline-block;
	padding-left: 30px;
	position:relative;
	&:after{
		content:"";
		width: 16px;
		height:16px;
		background:url(../images/icon-arrow.png) no-repeat 0 0;
		position: absolute;
		left:10px;
		top:4px;
		transform: rotate(90deg);
		transition:all 0.25s;
	}
	&.active{
		&:after{transform: rotate(0deg)}
	}
}

.board-list-text._scroll{
	overflow-x: auto;
	min-height: 1px;
}
.board-list-text._scroll table th,
.board-list-text._scroll table td{
	white-space: nowrap;
}

.board-searchbox-opts._multi{
	>div{
		width: 50%;
	}
	+.board-searchbox-opts._multi{
		border-top: 0;
	}
}

.table__in__scroll{
	overflow-x: auto;
	white-space: nowrap;
	overflow-y: hidden;
	padding-bottom:5px
}
.btn__view__detail{
	cursor: pointer;
}
.data__detail{
	display: none;
}


/* 2021.01.18 */

.div_col_7{
	width: 70%;
}
.div_col_3{
	width: 30%;
}

.__col-four .cs-input{width: calc(25% - 10px);}

.cs-box._button{position: relative;}
.cs-box._button button{position: absolute;right: 0;top: 0;}

.area-panel{
	background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 25px 30px;
    position: relative;
    &:after{
    		 content: '';
		    background: url(../images/common_icons.png) -56px 0;
		    width: 42px;
		    height: 37px;
		    position: absolute;
		    left: 30px;
		    top: 50%;
		    margin-top: -18px;
    	}	
    >div{
    	position: relative;
    }
    h4{
    	    position: relative;
		    padding-left: 12px;
		    margin-left: 65px;
		    font-size: 16px;
		    margin-bottom: 0;
		    margin-top: 0;
		    &:before {
			    content: '';
			    width: 4px;
			    height: 4px;
			    border-radius: 50%;
			    position: absolute;
			    left: 0;
			    background: #000;
			    top: .6em;
			}
    }
    a{
	    position: absolute;
	    right: 20px;
	    top: calc(50% - 22px);
	    padding: 0 20px;
	    font-size: 18px;
	    display: inline-block;
	    min-width: 130px;
	    height: 43px;
	    line-height: 43px;
	    border: 0;
	    box-sizing: border-box;
	    vertical-align: middle;
	    border-radius: 43px;
	    color: #fff;
	    font-weight: 500;
	    text-align: center;
	    user-select: none;
	    background-color: #575757;
	    &.fir{
	    	right: 250px;
	    }
    }
}


.board-tab-nav{
	ul.len-11{
		li{
			width: 9%;
			a{
				min-width:auto;
				padding-left: 0;
				padding-right: 0;
				font-size: 14px;
			}
			&:nth-child(7),
			&:nth-child(8){
				width: 10%;
			}
			&:nth-child(11){
				width: 8%;
			}
		}
	}
	ul.len-12{
		li{
			width: 8%;
			a{
				min-width:auto;
				padding-left: 0;
				padding-right: 0;
				font-size: 13px;
			}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4){
				width: 8%;
			}
			&:nth-child(8){
				width: 10%;
			}
			&:nth-child(9){
				width: 10%;
			}
			&:nth-child(11){
				width: 8%;
			}
		}
	}
}

.lh40{display: inline-block;line-height: 40px;height: 40px;}

.half__scroll{
	overflow: hidden;
}
.ovy_auto{
	overflow-y: auto;
	width: 350px;
	height: 300px;
	border: 1px solid #e6e6e6;
	float: left;

	button{
		display: block;
		width: 100%;
		border: 0;
		text-align: left;
		background: none;
		border-bottom: 1px solid #e6e6e6;
		padding: 15px;
		color: #888;
		&:first-child{
			border-top: 0;
		}
		&:last-child{
			border-bottom: 0;
		}
		&.active{
			background-color: #a6a6a6;
			color: #fff;
		}
		&.on{
			color: #333;
			font-weight: 600;
		}
	}
}
.ovy_content{
	float: left;
	width: calc(100% - 352px);
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	position: relative;
	height: 300px;
	.nodata{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}

.input__check__on{
	select{
		display: none;
	}	
}
#js__shpupload{
	width: 800px;
}
#js__hdetailView,
#js__pdetailView{
	width: 1200px;
}

.minw90{min-width: 90px}
.minw100{min-width: 100px}

.table-insert-t{
	> *{
		float: left;
	}
	input.w3{
		width: calc(100% - 70%);
	}
	input.w7{
		width: calc(100% - 30% - 10px);
		margin-left: 10px;
	}
	
}

.table-insert-t1{
	> *{
		float: left;
	}
	input.w3{
		width: calc(100% - 70% - 45px);
	}
	input.w7{
		width: calc(100% - 30% - 55px);
		margin-left: 10px;
	}
	button{
		width: 75px;
    	margin-left: 10px;
	}
}
.table-insert-t2{
	> *{
		float: left;
	}
	input.w3{
		width: calc(100% - 70% - 90px);
	}
	input.w7{
		width: calc(100% - 30% - 110px);
		margin-left: 10px;
	}
	button{
		width: 75px;
    	margin-left: 10px;
	}
}

.menu-manage{
	display: flex;
	.easy-tree{
		width:350px;
		ul{
			ul{
				ul{
					padding: 5px 0;
				}
			}
		}
		li{
			span{
			}
		}
	}
	.easytree-container{
		border: 1px solid #e6e6e6;
		padding: 15px;		
	}
	.easytree-container{
		font: 16px/1.3 'Noto Sans KR LOCAL', '맑은 고딕', 맑은고딕, sans-serif !important;
	}
}

.menu-write{
	width: calc(100% - 370px);
	margin-left: 20px;
	position: relative;
	.menu-notic{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-size: 20px;
	}
}

.board-required-info.v2{
	top: -50px;
}
.board-required-info.v3{
	height: auto;
	top: 0;
	padding-bottom: 5px;
}

.board-searchbox-opts.__col2{
	>div{
		width: 50%;
		.__tit._long{
			width: 120px;
		}
		.__col-full._long{
			width: calc(100% - 130px);
		}
	}
}
.tree-write{
	display: none;
}

.main-view-container{
	width: 1100px;
	margin: 0;
}

.main__board__tab{
	display: none;
}

.frm-half{
	overflow: hidden;
	input{
		float: left;
		width: calc(50% - 5px);
		&:nth-child(2){
			margin-left: 10px;
		}
	}
}
.vat{
	vertical-align: top !important;
}

.js__tablocation.__width2{
	li{
		min-width:130px;
		span{
			min-width:120px;
		}
	}
}

.cs-btn2-red{
	background-color: #bd3500;
	box-sizing: border-box;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 3px;
    border: 0;
    padding: 0 20px;
    user-select: none;
    color: #fff;
    text-align: center;
    min-width: auto;
    padding: 0 15px;
}

.ov_h{
	overflow: hidden;
}

.list-line-box{
	+.list-line-box{
		margin-top: 5px;
	}
	border-radius:4px;
	text-align: left;
	border:1px solid #d1d4d7;
	padding: 10px;
	b{
		display: block;
		margin-bottom: 5px;
	}
	ul{
		list-style:none;
		margin: 0;
		padding: 0 0 0 7px;
		li{
			font-size: 0.92em;
			padding-left: 10px;
			position: relative;
			&:after{
				content:"-";
				display: block;
				position: absolute;
				left: 0;
				top:0;
			}
			+li{
				margin-top: 4px;
			}
		}
	}
}