.board-list-gallery
{
  @include listRest('ul');
  @include clearBoth('ul');
  margin-bottom: 50px;position: relative;

  // ul{margin:-20px -15px;}
  .__item
  {
    float: left;box-sizing: border-box;padding:50px 30px;width:25%;
    &::after
    {
      
    }
    // border-bottom:1px solid #dadde0;
    &:nth-of-type(1){padding-top: 0;}
    &:nth-of-type(2){padding-top: 0;}
    &:nth-of-type(3){padding-top: 0;}
    &:nth-of-type(4){padding-top: 0;}

    &:nth-of-type(4n+1)::after
    {
      content: '';left: 0;width:100%;height:1px;background: #dadde0;position: absolute;margin-top: 50px;
    }


    &:hover
    {
      .__list-thumbnail img{transform: scale(1.2);}
    }
  }

  .__list-header
  {
    
    strong{font-weight: normal;font-size: 18px;}
  }
  .__list-thumbnail
  {
    margin-top: 20px;
    border: 1px solid #d1d4d7;
    img{display: block;}
    box-shadow:0 4px 9px rgba(0,0,0,.07);
  }
  .__list-author{margin-top: 20px;font-size: 14px;}
  .__list-btns{margin-top: 20px;}

  .__list-header, 
  .__list-author
  {
    text-align: center;
    > * {display: block;font-weight: normal;}
    span{margin-top: 2px;}
  }

  .__list-thumbnail
  {
    overflow: hidden;
    img{display: block;width: 100%;transition:all 1s;}
  }

  .__list-btns
  {
    @include clearBoth('&');
    > *
    {
      float: left;width:calc(50% - 7px);
      margin-left: 14px;

      &:first-child{margin-left: 0;}
    }
  }

  [class^=cs-btn2]{padding-left: 0;padding-right: 0;}

  & + .board-list-infomation{margin-top: -40px;}
}


.board-gallery-nodata{padding:90px 0px;}
