<section>
          <h3 class="cont-hedding1">상위 계획</h3>
          <div class="board-view-tb">
            <table>
              <caption>상위 계획</caption>
              <colgroup>
                <col class="width130">
                <col class="width120">
                <col class="width130">
                <col>
                <col class="width100">
                <col class="width150">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">계획 구분</th>
                  <th scope="col">고시 기관</th>
                  <th scope="col">고시 번호</th>
                  <th scope="col">고시 제목</th>
                  <th scope="col">고시일</th>
                  <th scope="col">담당 부서</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">광역도시계획</th>
                  <td>경기도</td>
                  <td>제2020–5200호</td>
                  <td class="tal"><a href="../notify/notification22.html" class="alink" target="_blank">경기도 광역도시계획</a></td>
                  <td>2018-01-01</td>
                  <td>OOO과</td>
                </tr>
                <tr>
                  <th scope="row">도시·군기본계획</th>
                  <td>경기도</td>
                  <td>제2019-0001호</td>
                  <td class="tal"><a href="../notify/notification12.html" class="alink" target="_blank">경기도 도시·군기본계획</a></td>
                  <td>2019-01-01</td>
                  <td>OOO과</td>
                </tr>
              </tbody>
            </table>
          </div>

          <ul class="board-list-infomation cs-list-dot _gray">
            <li>고시 제목 클릭 시 브라우저 새창에서 해당 고시 상세 정보를 확인하실 수 있습니다.</li>
          </ul>
        </section>

        <section>
          <h3 class="cont-hedding1">입안 제안</h3>
          <div class="board-view-tb">
            <table>
              <caption>입안 제안</caption>
              <colgroup>
                <col class="width130">
                <col class="width120">
                <col class="width300">
                <col>
                <col class="width100">
                <col class="width80">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">계획 구분</th>
                  <th scope="col">제안 대상</th>
                  <th scope="col">제안 분야</th>
                  <th scope="col">제안 제목</th>
                  <th scope="col">제안일</th>
                  <th scope="col">제안자</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">도시·군관리계획</th>
                  <td>주민(사업자)</td>
                  <td>용도지구 지정 및 변경(개발진흥지구)</td>
                  <td class="tal"><a href="#" class="alink" target="_blank">하남시 OO용도지구 길면….</a></td>
                  <td>20XX-XX-XX</td>
                  <td>김제안</td>
                </tr>
              </tbody>
            </table>
          </div>

          <ul class="board-list-infomation cs-list-dot _gray">
            <li>제안 제목 클릭 시 브라우저 새창에서 해당 제안 상세 정보를 확인하실 수 있습니다.</li>
          </ul>
        </section>

        <!-- 1229 :: <section>의 내용 전체적으로 변경됨 -->
        <section>
          <h3 class="cont-hedding1">
            <ul class="board-tab-nav2 board-tab-nav2__inline js__tabNav" data-tabnav="cityplans">
              <li class="active"><button data-idx="1">도시·군관리계획</button></li>
              <li class=""><button data-idx="2">이전 계획</button></li>
              <li class=""><button data-idx="3">의제</button></li>
            </ul>
          </h3>

          <!-- 도시·군관리계획 -->
          <div class="js__tabNav_cityplans1">
            <div class="board-view-tb _tal js__tableFold">
              <table>
                <caption>기본 정보, 입안 자료</caption>
                <colgroup>
                  <col class="width130">
                  <col>
                  <col class="width130">
                  <col>
                </colgroup>
                <tbody>
                  <!-- 0104 :: 현재 상태 담당자, 담당 부서, 담당자로 분리 -->
                  <tr>
                    <th scope="row">입안권자</th>
                    <td>경기도 하남시</td>
                    <th scope="row">현재 상태</th>
                    <td><span class="pcolor-red">주민 의견 청취 대기</span></td>
                  </tr>
                  <tr>
                    <th scope="row">담당 부서</th>
                    <td>OOOO과</td>
                    <th scope="row">담당자</th>
                    <td>김담당</td>
                  </tr>
                  <tr>
                    <th scope="row">계획명</th>
                    <td>입력한 계획명이 출력됩니다. </td>
                    <th scope="row">계획 유형</th>
                    <td>지구단위계획</td>
                  </tr>
                  <tr>
                    <th scope="row">도시·군관리<br>계획도서</th>
                    <td class="_p0" colspan="3">
                      <div class="board-view-tb">
                        <table>
                          <caption>계획도서</caption>
                          <colgroup>
                            <col class="width240">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <td>계획도서</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <!-- 등록된 파일 없을 경우 -->
                                    <!-- <strong class="tcolor-gray2">등록된 파일이 없습니다.</strong> -->
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">계획설명서</th>
                    <td colspan="3" class="_p0">
                      <div class="board-view-tb">
                        <table>
                          <caption>계획설명서</caption>
                          <colgroup>
                            <col class="width120">
                            <col class="width120">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <td rowspan="4">기초조사결과</td>
                              <td>기초조사</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <!-- 등록된 파일 없을 경우 -->
                                    <!-- <strong class="tcolor-gray2">등록된 파일이 없습니다.</strong> -->
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td>환경성 검토</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td>토지적성평가</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td>재해취약성분석</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">재원조달방안 및 경관계획</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">기타</td>
                              <td>
                                <ul class="cs-list-file">
                                  <li>
                                    <strong>등록된 파일명이 출력됩니다.pdf</strong>
                                    <div class="cs-list-file__btns">
                                      <a href="#js__preview" jq-action="modal" class="cs-btn2-gray2 cs-btn-default">바로보기</a>
                                      <a href="#" class="cs-btn2-gray cs-btn-default">다운로드</a>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">도면, 조서</th>
                    <td class="_p0" colspan="3">
                      <div class="board-view-tb js__floatingHead _floating _tac _noround" data-cell-height="" data-minitem="10">
                        <table>
                          <caption>도면 목록</caption>
                          <colgroup>
                            <col class="width140">
                            <col>
                            <col class="width100">
                            <col class="width95">
                            <col class="width95">
                            <col class="width95">
                          </colgroup>
                          <thead>
                            <tr>
                              <th scope="col">도면번호</th>
                              <th scope="col">도면명</th>
                              <th scope="col">도면 생성일</th>
                              <th scope="col">도면 확인</th>
                              <th scope="col">조서 개수</th>
                              <th scope="col">조서 확인</th>
                            </tr>
                          </thead>
                          <tbody>
                            @@for(var i = 11; i > 0; i--){
                            <tr>
                              <td>${i}</td>
                              <td class="tal">생성한 도면명이 출력됩니다_1.jpg</td>
                              <td>2020-XX-XX</td>
                              <td class="tal"><a href="#js__preview2" class="cs-btn2-gray2 cs-btn-default" jq-action="modal">도면 보기</a></td>
                              <td>10</td>
                              <td><a href="#js__preview" class="cs-btn2-gray2 cs-btn-default" jq-action="modal">조서 보기</a></td>
                            </tr>
                            }
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="extratype-btn mt-30">
              <a href="#js__fileDownAlert" jq-action="modal" class="btn-down-excel _h40">조서 다운로드</a>
            </div>

          </div>

          <!-- 이전 계획 -->
          <div class="js__tabNav_cityplans2">
            <div class="board-view-tb">
              <table>
                <caption>이전 계획</caption>
                <colgroup>
                  <col class="width130">
                  <col class="width120">
                  <col class="width130">
                  <col>
                  <col class="width100">
                  <col class="width150">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">계획 구분</th>
                    <th scope="col">고시 기관</th>
                    <th scope="col">고시 번호</th>
                    <th scope="col">고시 제목</th>
                    <th scope="col">고시일</th>
                    <th scope="col">담당 부서</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">도시·군기본계획</th>
                    <td>경기도</td>
                    <td>제2019-0001호</td>
                    <td class="tal"><a href="../notify/notification02.html" class="alink" target="_blank">경기도 도시·군기본계획</a></td>
                    <td>2019-01-01</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ul class="board-list-infomation cs-list-dot _gray">
              <li>고시 제목 클릭 시 브라우저 새창에서 해당 고시 상세 정보를 확인하실 수 있습니다.</li>
            </ul>
          </div>

          <!-- 의제 -->
          <div class="js__tabNav_cityplans3">
            <div class="board-view-tb">
              <table>
                <caption>의제</caption>
                <colgroup>
                  <col class="width130">
                  <col class="width120">
                  <col class="width130">
                  <col>
                  <col class="width100">
                  <col class="width150">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">계획 구분</th>
                    <th scope="col">의제 기관</th>
                    <th scope="col">고시 번호</th>
                    <th scope="col">고시 제목</th>
                    <th scope="col">고시일</th>
                    <th scope="col">담당 부서</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">도시·군기본계획</th>
                    <td>경기도</td>
                    <td>제2019-0001호</td>
                    <td class="tal"><a href="../notify/notification32.html" class="alink" target="_blank">경기도 도시·군기본계획</a></td>
                    <td>2019-01-01</td>
                    <td>해양공간정책과</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ul class="board-list-infomation cs-list-dot _gray">
              <li>고시 제목 클릭 시 브라우저 새창에서 해당 고시 상세 정보를 확인하실 수 있습니다.</li>
            </ul>
          </div>
          
        </section>

        <section class="cs-btn-set">
          <a href="urbanPlan01.html" class="cs-btn-line">목록</a>

          <!-- 대기 상태 일 경우 계획 삭제 출력-->
          <a href="#js__planDelete" jq-action="modal" class="cs-btn">계획 삭제</a>

          <a href="urbanPlan02.html" class="cs-btn-line">계획 수정</a>
        </section>