<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@@webTitle - 국토이용정보통합플랫폼</title>

  <link rel="stylesheet" href="@@webPath/common/css/font.css">
  <link rel="stylesheet" href="@@webPath/common/css/common.css">
  <link rel="stylesheet" href="@@webPath/common/css/layout.css">
  <link rel="stylesheet" href="@@webPath/common/css/content.css">
  <link rel="stylesheet" href="@@webPath/common/css/board.css">
  <link rel="stylesheet" href="@@webPath/common/css/styleAdd.css">

  <script src="@@webPath/common/libjs/jquery-1.12.4.min.js"></script>
  <script src="@@webPath/common/libjs/jquery-ui.min.js"></script>
  <script src="@@webPath/common/libjs/jquery.cookie.js"></script>
  <script src="@@webPath/common/js/common.js"></script>
  <script src="@@webPath/common/js/layout.js"></script>


  <!-- 201201 :: 추가 -->
  <script src="@@webPath/common/libjs/jquery.mCustomScrollbar.concat.min.js"></script>
  <link rel="stylesheet" href="@@webPath/common/libjs/jquery.mCustomScrollbar.min.css">

  <!-- 0112:: 아이콘추가 -->
  <link rel="apple-touch-icon" sizes="180x180" href="@@webPath/common/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@@webPath/common/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@@webPath/common/images/favicon-16x16.png">

  <!-- test용 -->
  <script src="@@webPath/common/js/test.js"></script>
  <script>
    jQuery(function(){
      // tableThOutput();
    });
  </script>