<meta charset="UTF-8">
  <title>@@siteName - 국토이용정보통합플랫폼</title>
  <!-- common -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="@@webRoot/common/css/font.css">
  <link rel="stylesheet" href="@@webRoot/common/css/common.css">
  <link rel="stylesheet" href="@@webRoot/common/css/board.css">
  <link rel="stylesheet" href="@@webRoot/common/css/content.css">

  <link rel="stylesheet" href="@@cssRoot/login.css">
  <script src="@@webRoot/common/libjs/jquery-1.12.4.min.js"></script>
  <script src="@@webRoot/common/js/common.js"></script>
  <script src="@@webRoot/common/js/login.js"></script>

  <!-- 0112:: 아이콘추가 -->
  <link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/common/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/common/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/common/images/favicon-16x16.png">

  <!-- //common -->
